<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Writeaway</title>
        <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/Icon_Logo.png" />

    </head>

    <body>
        <div class="nav">
            <div class="page_icon">
                <a href='/'> 
                    <img src="/static/images/Writeaway.png">
                </a>
            </div>
            <div class='page_buttons'>
                {% if not new_user %}
                    <a href='/signup'> Join Writeaway </a>
                    <a href='/login'> Login </a>
                {% else %}
                    <a href='/profile'> Profile </a>
                    <a href='/portfolio'> Portfolio </a>
                {% endif %}
            </div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
  </html> 