<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Writeaway</title>
    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="header">
      <div class="title">
        <a href = '/' name="title" id="title"> <h1>Writeaway</h1> </a>
      </div>
    </div>
    <div class="content">
      <div class = "login">
        <h2> Hey! Welcome to Writeaway </h2>
        <form method = "POST">
          <h3> Username</h3>
          <input type="text" id="username" name="username"></input>
          <h3> Password</h3>
          <input type="text" id = "password" name="password"></input><br>
          <input type = "submit"></input>
        </form>
      </div>
    </div>