@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* page basics */

h1 {
  color: #000;
  font-family: "DM Serif Display";
  font-size: 30px;
  margin: 20px;
}

h2 {
  color: #000;
  font-family: "DM Serif Display";
  font-size: 35px;
  margin: 10px 0px;
}

h3{
  color: #000;
  font-family: "League Spartan";
  font-size: 20px;
  margin: 10px 0px;
}

p{
  color: #000;
  font-family: "League Spartan";
  font-size: 18px;

  font-weight: 400;
  margin: 10px 0px;
}

a{
  font-family: 'League Spartan', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-align: center;
  text-decoration: none;

  display: block;
  padding: 10px 10px;
  border: none;
  background-color: #a4b494;
  border-radius: 5px;
  outline: none;
  margin: 10px;
}

button:hover, a:hover{
  cursor: pointer;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: sticky;
  top:0;
  vertical-align: middle;
  background-color: #fff;
  padding: 10px 40px;
  height: 100px;
}

.nav a{
  float: right;
  padding: 15px;
  margin: 15px;
  width: 125px;
}

.page_icon a{
  height: 100px;
  width: 275px;
  padding: 0px;
  margin: 0px;
}

.page_icon img{
  width: 275px;
}

.page_buttons{
  width: auto;
  order: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.page_buttons a{
  width: 125px;
  display: inline-block;
  height: auto;
}

.content{
  display: inline-block;
  margin: 0px 40px;
  border: 10px;
}

/* today page */

.login{
  display: inline-block;
}