@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* page basics */

h1 {
  color: #ffffff;
  font-family: "Roboto Mono", cursive;
  font-size: 30px;
  margin: 20px;
}

h2 {
  color: #a4b494;
  font-family: "Roboto Mono", cursive;
  font-size: 35px;
  margin: 10px 0px;
}

h3{
  color: #bec5ad;
  font-family: "Roboto Mono", cursive;
  font-size: 20px;
  margin: 10px 0px;
}

p{
  color: #30343f;
  font-family: "Roboto Mono";
  font-size: 16px;
  margin: 10px 0px;
}

a{
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  color: #FCF7FF;
  text-align: center;
  text-decoration: none;

  display: block;
  padding: 10px 10px;
  border: none;
  background-color: #a4b494;
  border-radius: 5px;
  outline: none;
  margin: 10px;
}

button:hover, a:hover{
  background-color: #c5adad;
  cursor: pointer;
}

.header{
  border-bottom: 1px ;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100px;
  background-color: #ffffff;
}

.home-button{
  padding: 10px;
}

.nav{
  display: flex;
  align-items: center;
  height: 54px;
  vertical-align: middle;
  padding: 10px 9px;
  margin-right: 40px;
}

.nav ul{
  list-style-type: none;
}

.nav li{
  float: left;
}

.content{
  display: inline-block;
  margin: 0px 40px;
  border: 10px;
}

/* today page */

.login{
  display: inline-block;
}